In [2]:
#imports
import pandas as pd
import numpy as np
from py_files import wrangle as w

In [3]:
#bring in data

In [4]:
#bring in csv
df = pd.read_csv('shelter_data/aac_shelter_outcomes.csv')

In [5]:
#check df
df

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [6]:
#all object types, I see
df.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [9]:
#look at entries where age is null
df.loc[df.age_upon_outcome.isna()]

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
68246,NaN,A737705,Dog,Labrador Retriever Mix,Black/White,2013-11-02T00:00:00,2016-11-19T16:35:00,2016-11-19T16:35:00,*Heddy,NaN,NaN,NaN
76825,NaN,A764319,Dog,Pit Bull Mix,Black/White,2016-12-27T00:00:00,2017-12-30T16:47:00,2017-12-30T16:47:00,*Emma,NaN,NaN,Intact Female
77976,NaN,A765547,Bird,Leghorn Mix,White/Red,2017-01-22T00:00:00,2018-01-25T13:23:00,2018-01-25T13:23:00,NaN,Partner,Transfer,Intact Female
78081,NaN,A765899,Dog,Miniature Poodle Mix,Black,2011-01-29T00:00:00,2018-01-29T15:49:00,2018-01-29T15:49:00,NaN,Suffering,Euthanasia,Neutered Male
78114,NaN,A765914,Cat,Domestic Shorthair Mix,Lynx Point,2017-01-29T00:00:00,2018-01-29T18:08:00,2018-01-29T18:08:00,NaN,Suffering,Euthanasia,Intact Male
78162,NaN,A765901,Dog,Maltese Mix,Buff,2017-01-29T00:00:00,2018-01-31T08:14:00,2018-01-31T08:14:00,NaN,Partner,Transfer,Intact Male
78208,NaN,A765960,Dog,Beagle/Catahoula,Tan/White,2010-02-01T00:00:00,2018-02-01T09:21:00,2018-02-01T09:21:00,NaN,Suffering,Euthanasia,Intact Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown

In [10]:
#age value counts
df.age_upon_outcome.value_counts()

1 year       14355
2 years      11194
2 months      9213
3 years       5157
3 months      3442
1 month       3344
4 years       2990
5 years       2691
4 months      2425
5 months      1951
6 months      1897
6 years       1810
8 years       1554
7 years       1537
3 weeks       1467
2 weeks       1330
10 months     1204
4 weeks       1194
8 months      1178
10 years      1159
7 months       963
9 years        822
9 months       673
12 years       609
1 weeks        513
11 months      490
11 years       429
1 week         427
13 years       389
14 years       253
3 days         235
2 days         217
15 years       208
1 day          153
6 days         152
4 days         136
5 days         116
16 years       101
0 years         95
5 weeks         61
17 years        58
18 years        26
19 years        13
20 years        12
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

In [13]:
#fill in nulls with 1 year (most common)
df['age_upon_outcome'].fillna('1 year', inplace=True)

In [14]:
#no nulls
df.age_upon_outcome.value_counts()

1 year       14363
2 years      11194
2 months      9213
3 years       5157
3 months      3442
1 month       3344
4 years       2990
5 years       2691
4 months      2425
5 months      1951
6 months      1897
6 years       1810
8 years       1554
7 years       1537
3 weeks       1467
2 weeks       1330
10 months     1204
4 weeks       1194
8 months      1178
10 years      1159
7 months       963
9 years        822
9 months       673
12 years       609
1 weeks        513
11 months      490
11 years       429
1 week         427
13 years       389
14 years       253
3 days         235
2 days         217
15 years       208
1 day          153
6 days         152
4 days         136
5 days         116
16 years       101
0 years         95
5 weeks         61
17 years        58
18 years        26
19 years        13
20 years        12
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

In [15]:
#outcome types
df.outcome_type.value_counts()

Adoption           33112
Transfer           23499
Return to Owner    14354
Euthanasia          6080
Died                 680
Disposal             307
Rto-Adopt            150
Missing               46
Relocate              16
Name: outcome_type, dtype: int64

In [19]:
#20 year old animals
df.loc[df.age_upon_outcome =='20 years']

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
9318,20 years,A692485,Cat,Domestic Shorthair Mix,Brown Tabby/White,1994-11-21T00:00:00,2014-11-25T16:04:00,2014-11-25T16:04:00,NaN,Suffering,Euthanasia,Intact Female
12184,20 years,A671488,Cat,Domestic Shorthair Mix,Black/White,1994-01-25T00:00:00,2014-09-17T11:18:00,2014-09-17T11:18:00,Whiskers,Suffering,Euthanasia,Spayed Female
12609,20 years,A672841,Cat,Domestic Medium Hair Mix,Calico,1994-02-17T00:00:00,2014-02-20T14:52:00,2014-02-20T14:52:00,Camilla,Partner,Transfer,Spayed Female
15740,20 years,A689957,Cat,Domestic Medium Hair Mix,Blue,1994-10-11T00:00:00,2014-10-11T17:58:00,2014-10-11T17:58:00,Weiser,Suffering,Euthanasia,Neutered Male
19475,20 years,A693678,Cat,Domestic Shorthair Mix,Brown Tabby/White,1994-12-12T00:00:00,2014-12-13T16:38:00,2014-12-13T16:38:00,Kc,NaN,Return to Owner,Intact Female
21376,20 years,A261770,Cat,Domestic Shorthair Mix,White,1994-11-07T00:00:00,2014-11-07T15:51:00,2014-11-07T15:51:00,Halo,Suffering,Euthanasia,Neutered Male
24291,20 years,A696843,Cat,Domestic Longhair Mix,Tortie/White,1995-02-15T00:00:00,2015-02-15T16:06:00,2015-02-15T16:06:00,Dusty,NaN,Return to Owner,Intact Female
40097,20 years,A745018,Cat,Domestic Shorthair Mix,Brown Tabby/White,1997-03-12T00:00:00,2017-03-12T11:39:00,2017-03-12T11:39:00,Tiger,NaN,Return to Owner,Neutered Male
48538,20 years,A751677,Cat,Domestic Shorthair Mix,Blue/White,1997-06-11T00:00:00,2017-06-12T11:04:00,2017-06-12T11:04:00,Miss Miss,Suffering,Euthanasia,Unknown
52190,20 years,A740126,Bird,Cockatoo,White/Orange,1996-12-11T00:00:00,2016-12-16T00:00:00,2016-12-16T00:00:00,Sunny,Partner,Transfer,Intact Male
53113,20 years,A722736,Cat,Domestic Shorthair Mix,White/Brown Tabby,1996-03-21T00:00:00,2016-03-27T12:47:00,2016-03-27T12:47:00,Betty,Partner,Transfer,Spayed Female
61481,20 years,A738347,Dog,Maltese Mix,White,1996-11-14T00:00:00,2016-11-14T11:41:00,2016-11-14T11:41:00,Bubbles,NaN,Return to Owner,Spayed Female