In [1]:
#imports
import pandas as pd
import numpy as np
from pyfiles import wrangle as w

In [2]:
df = w.get_shelter_data()

In [3]:
df

,Unnamed: 0,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
0,0,A842851,2021-09-23T08:38:00.000,2021-09-23T08:38:00.000,2020-09-22T00:00:00.000,Euthanasia,Rabies Risk,Other,Unknown,1 year,Fox,Gray/Red,NaN
1,1,A842843,2021-09-22T18:58:00.000,2021-09-22T18:58:00.000,2019-09-22T00:00:00.000,Return to Owner,NaN,Dog,Spayed Female,2 years,Staffordshire,Black/White,Gorda
2,2,A842842,2021-09-22T18:57:00.000,2021-09-22T18:57:00.000,2019-09-22T00:00:00.000,Return to Owner,NaN,Dog,Intact Male,2 years,Pit Bull,Blue/White,Kimbo
3,3,A842437,2021-09-22T18:40:00.000,2021-09-22T18:40:00.000,2021-04-16T00:00:00.000,Rto-Adopt,NaN,Cat,Spayed Female,5 months,Siamese Mix,Tortie Point,Puffy
4,4,A842234,2021-09-22T18:03:00.000,2021-09-22T18:03:00.000,2019-09-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,Anatol Shepherd,White,Max
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131543,543,A664223,2013-10-01T11:03:00.000,2013-10-01T11:03:00.000,2009-09-30T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White,Moby
131544,544,A664237,2013-10-01T10:44:00.000,2013-10-01T10:44:00.000,2013-09-24T00:00:00.000,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,NaN
131545,545,A664236,2013-10-01T10:44:00.000,2013-10-01T10:44:00.000,2013-09-24T00:00:00.000,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,NaN
131546,546,A664235,2013-10-01T10:39:00.000,2013-10-01T10:39:00.000,2013-09-24T00:00:00.000,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,NaN
131547,547,A659834,2013-10-01T09:31:00.000,2013-10-01T09:31:00.000,2013-07-23T00:00:00.000,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black,*Dudley

In [ ]:
#bring in data

In [ ]:
#bring in csv
df = pd.read_csv('shelter_data/atxshelter2021.csv')

In [ ]:
#check df
df

In [ ]:
#all object types, I see
df.dtypes

In [ ]:
#look at entries where age is null
df.loc[df.age_upon_outcome.isna()]

In [ ]:
#age value counts
df.age_upon_outcome.value_counts()

In [ ]:
#fill in nulls with 1 year (most common)
df['age_upon_outcome'].fillna('1 year', inplace=True)

In [ ]:
#no nulls
df.age_upon_outcome.value_counts()

In [ ]:
#outcome types
df.outcome_type.value_counts()

In [ ]:
#20 year old animals
df.loc[df.age_upon_outcome =='20 years']